# Add any directories, files, or patterns that don't needed to be tracked by version control

# Windows image file cache
Thumbs.db

# Folder config file
Desktop.ini

# Grunt/ Gulp
node_modules

# Log File
*.log

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# Temporary files
*~

# PhpStorm
.idea

# Visual Code
.vscode

# NodeJS Modules
node_modules

# Git File and Folder
.git

# Composer Vendor
/vendor/

# Composer Lock
composer.lock